<h1>Hello  INdex</h1>


<%= link_to "Download CSV", home_index_path(format: :csv), method: :get, class: "btn btn-primary" %>
<%= link_to "Download PDF", home_index_path(format: :pdf), method: :get, class: "btn btn-primary" %>
